footer
  a(href="/privacy") Privacy
  //  |&nbsp;|&nbsp;
  //  a(href="/tos") Terms
  br
  | a hatching amazing labs creation &copy; 2015
script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
script(src="//code.jquery.com/ui/1.11.4/jquery-ui.js")
script(src="js/jquery.ui.touch-punch.min.js")
script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js")
script(src="build/rozinah.min.js")
