#header
nav(class="navbar navbar-default")
    div.container-fluid
        div.navbar-header
            button(type="button", class="navbar-toggle collapsed", data-toggle="collapse", data-target="#bs-example-navbar-collapse-1")
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand(href="/")
                img(alt="Deckrank brand", src="images/deckrank.png", style="max-width:100px; margin-top: -7px;")
                span deckrank
        div(class="collapse navbar-collapse", id="bs-example-navbar-collapse-1")
            ul(class="nav navbar-nav")
                li
                    a(href="/extra#faq") FAQ
                li
                    a(href="/extra#about") About
                li
                    a(href="/extra#contact") Contact
