doctype html
head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Vote: deckrank.co: how to run a poll
    link(rel="stylesheet",
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css")
    link(rel="stylesheet", type="text/css",
        href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css")
    link(rel="stylesheet", type="text/css", href="build/rozinah.min.css")
body
    include header.jade
    div.container-fluid
        div.row
            div.col-sm-12
                h2.howtitle
                    |Three quick and easy steps to run a poll
        fieldset
            div.row
                div.col-sm-4
                    p
                        div.howheader 1. Create
                        |Type a question and enter options for voters to rank.
                        |No need to sign up
                    img.how(src="http://i.imgur.com/ntItXId.jpg")
                div.col-sm-4
                    p
                        div.howheader 2. Rank
                        |Share the voting page link and get others to vote.
                        |Voters don't need to sign up either
                    img.how(src="http://i.imgur.com/Qd3HMJ1.jpg")
                div.col-sm-4
                    p
                        div.howheader 3. View
                        |The results will update instantly as people submit their
                        |vote.
                        a(id="learnmore", href="/extra#scoring")
                            |Learn more
                    img.how(src="http://i.imgur.com/EoUwfV3.jpg")
        div.row
            div.col-sm-4
                form(role="form", id="howtocreate", method="get", action="/")
                    div.form-group.col-sm-7
                        button(type="submit", value="submit", class="btn btn-default")
                          | Okay, I get it. Let's begin
    script.
        mixpanel.track_forms("#howtocreate", "Get started");
        mixpanel.track_links("#learnmore", "Learn more");
    include footer.jade
