doctype html
head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Privacy Policy - deckrank
    link(rel="stylesheet",
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css")
    link(rel="stylesheet", type="text/css",
        href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css")
    link(rel="stylesheet", type="text/css", href="build/rozinah.min.css")
body
    include common/header.jade
    div.container-fluid
        h2 Privacy Policy
        br
        p(class="answer")
            |It is deckrank’s policy to
            |respect your privacy regarding any information we may collect while
            |operating our websites.
        br
        h4 Website Visitors
        p(class="answer")
            |Like most website operators, deckrank collects
            |non-personally-identifying information of the sort that web browsers and servers
            |typically make available, such as the browser type, language preference,
            |referring site, and the date and time of each visitor request. deckrank’s
            |purpose in collecting non-personally identifying information is to better
            |understand how deckrank’s visitors use its website.
        p(class="answer")
            |deckrank also collects potentially personally-identifying information like
            |Internet Protocol (IP) addresses for visitors.
        br
        h4 Gathering of Personally-Identifying Information
        p(class="answer")
            |Certain visitors to deckrank’s
            |websites choose to interact with deckrank in ways that require deckrank to
            |gather personally-identifying information. The amount and type of information
            |that deckrank gathers depends on the nature of the interaction. For example,
            |we ask visitors who create a poll at deckrank to provide a name
            |and email address. deckrank collects such information only insofar as is necessary or appropriate
            |to fulfill the purpose of the visitor’s interaction with deckrank. deckrank
            |does not disclose personally-identifying information other than as described
            |below. And visitors can always refuse to supply personally-identifying
            |information.
        br
        h4 Aggregated Statistics
        p(class="answer")
            |deckrank may collect statistics about the behavior of
            |visitors to its websites. For instance, deckrank may monitor the most popular
            |polls on the deckrank website or use spam  However, deckrank does not disclose personally-identifying
            |information other than as described below.
        br
        h4 Protection of Certain Personally-Identifying Information
        p(class="answer")
            |deckrank discloses
            |potentially personally-identifying and personally-identifying information only
            |to those of its employees, contractors and affiliated organizations that (i)
            |need to know that information in order to process it on deckrank’s behalf or
            |to provide services available at deckrank’s websites, and (ii) that have
            |agreed not to disclose it to others. Some of those employees, contractors and
            |affiliated organizations may be located outside of your home country; by using
            |deckrank’s websites, you consent to the transfer of such information to them.
            |deckrank will not rent or sell potentially personally-identifying and
            |personally-identifying information to anyone. Other than to its employees,
            |contractors and affiliated organizations, as described above, deckrank
            |discloses potentially personally-identifying and personally-identifying
            |information only in response to a subpoena, court order or other governmental
            |request, or when deckrank believes in good faith that disclosure is reasonably
            |necessary to protect the property or rights of deckrank, third parties or the
            |public at large. If you have supplied your email address, deckrank may
            |occasionally send you an email to
            |tell you about new features, solicit your feedback, or just keep you up to date
            |with what’s going on with deckrank and our products. We primarily use social networks
            |to communicate this type of information, so we expect to
            |keep this type of email to a minimum. If you send us a request (for example via
            |a support email or via one of our feedback mechanisms), we reserve the right to
            |publish it in order to help us clarify or respond to your request or to help us
            |support other users. deckrank takes all measures reasonably necessary to
            |protect against the unauthorized access, use, alteration or destruction of
            |potentially personally-identifying and personally-identifying information.
        br
        h4 Cookies
        p(class="answer")
            |A cookie is a string of information that a website stores on a visitor’s
            |computer, and that the visitor’s browser provides to the website each time the
            |visitor returns. deckrank uses cookies to help deckrank identify and track
            |visitors, their usage of deckrank website, and their website access
            |preferences. deckrank visitors who do not wish to have cookies placed on their
            |computers should set their browsers to refuse cookies before using deckrank’s
            |websites, with the drawback that certain features of deckrank’s websites may
            |not function properly without the aid of cookies.
        br
        h4 Business Transfers
        p(class="answer")
            |If deckrank, or substantially all of its assets, were
            |acquired, or in the unlikely event that deckrank goes out of business or
            |enters bankruptcy, user information would be one of the assets that is
            |transferred or acquired by a third party. You acknowledge that such transfers
            |may occur, and that any acquirer of deckrank may continue to use your personal
            |information as set forth in this policy.
        br
        h4 Ads
        p(class="answer")
            |Ads appearing on any of our websites may be delivered to users by
            |advertising partners, who may set cookies. These cookies allow the ad server to
            |recognize your computer each time they send you an online advertisement to
            |compile information about you or others who use your computer. This information
            |allows ad networks to, among other things, deliver targeted advertisements that
            |hey believe will be of most interest to you. This Privacy Policy covers the use
            |of cookies by deckrank and does not cover the use of cookies by any
            |advertisers.
        br
        h4 Privacy Policy Changes
        p(class="answer")
            |Although most changes are likely to be minor, deckrank
            |may change its Privacy Policy from time to time, and in deckrank’s sole
            |discretion. deckrank encourages visitors to frequently check this page for any
            |changes to its Privacy Policy. Your continued use
            |of this site after any change in this Privacy Policy will constitute your
            |acceptance of such change.
        br
        p(class="answer")
            i
                |This privacy policy is adapted from &nbsp;
                a(href="http://automattic.com/privacy") Automattic.com
                |,&nbsp;made available under a&nbsp;
                a(href="http://creativecommons.org/licenses/by-sa/4.0/") Creative Commons Sharealike
                |&nbsp;license.
    include common/footer.jade
