div(class="alert")
  strong
    |Share this link for others to vote:&nbsp;
    br
    a(id="votelink", href='/r/' + rankid) deckrank.co&#47;r&#47;#{rankid}
script.
    mixpanel.track_links("#votelink", "Clicked vote link");
