doctype html
head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title(rozinah: collaborative stackranks)
    link(rel="stylesheet", type="text/css", href="css/rozinah.css")
    link(rel="stylesheet", type="text/css", href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css")
body
    ul(id="sortable")
        each option in options
            li(class="ui-state-default")= option
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
    script(src="//code.jquery.com/ui/1.11.4/jquery-ui.js")
    script(src="js/rozinah.js")
include footer.jade
