if email
  div(class="alert")
    strong
      |To have your friends vote share the link below or forward them the email we've sent you
      div
        a(href='/rank/' + rankid) Share the poll
      div
        a(href='/viewvotes/' + voteid) Share the results
