div(class="alert")
    strong
        |To have your friends vote share the link below or
        |forward them the email we've sent you:
    p
        |Share the poll:
        a(href='/rank/' + rankid)  www.deckrank.co&#47;#{rankid}
    p
        |Share the results:
        a(href='/viewvotes/' + voteid)  www.deckrank.co&#47;#{voteid}
