div(class="alert")
    strong
        |To have your friends vote share the link below or
        |forward them the email we've sent you:
    p
        |Share the poll:
        a(href='/r/' + rankid)  www.deckrank.co&#47;r&#47;#{rankid}
    p
        |Share the results:
        a(href='/v/' + voteid)  www.deckrank.co&#47;v&#47;#{voteid}
