doctype html
head
    title= title
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css')
    link(rel="stylesheet", type="text/css", href="build/rozinah.min.css")
body
    include common/header.jade
    div.container-fluid
        h1
            = title
        table.table-bordered
            thead
                tr
                    th Rank ID
                    th Edit ID
                    th Results ID
                    th Title
                    th Email
                    th Description
                    th Created on
                    th Poll Type
                    th Options
                    th Votes
            tbody
                each rank in stackranks
                    tr
                        td
                            a(href='/r/' + rank.rankid)= rank.rankid
                        td
                            a(href='/e/' + rank.editid)= rank.editid
                        td
                            a(href='/v/' + rank.voteid)= rank.voteid
                        td
                            = rank.title
                        td
                            = rank.email
                        td
                            = rank.description
                        td
                            = rank.created_on
                        td
                            = rank.poll_type
                        td
                            = rank.options
                        td
                            = rank.votes.length
    include common/footer.jade
