doctype html
head
    title= title
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css')
    link(rel="stylesheet", type="text/css", href="build/rozinah.min.css")
    include mixpanel.jade
body
    include header.jade
    div.container-fluid
        h1
            = title
        table.table-bordered
            thead
                tr
                    th ID
                    th Title
                    th Email
                    th Description
                    th Options
                    th Votes
            tbody
                each rank in stackranks
                    tr
                        td
                            a(href='/rank/' + rank.rankid)= rank.rankid
                        td
                            = rank.title
                        td
                            = rank.email
                        td
                            = rank.description
                        td
                            = rank.options
                        td
                            a(href='/viewvotes/' + rank.voteid)= rank.votes.length
    include footer.jade
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js')
    script(src="build/rozinah.min.js")
