doctype html
head
    title Results: #{title} - deckrank
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css')
    link(rel="stylesheet", type="text/css", href="build/rozinah.min.css")
body
    include header.jade
    div.container-fluid
      div.form-group
        h2
            = title
        p
            em.text-muted.small
                |created&nbsp;
                = moment(created_on).fromNow()
        - var announcement = (total_votes == 1)?" vote is in":" votes are in"
        h2
            p(class="text-primary")
                = total_votes + announcement
        h3
          // TODO(hnag): Center align the elements ...
          div(class="table-responsive")
            table(class="table borderless")
              thead
                tr
                  th
                    | The rankings are:
              tbody
                each val, index in summary
                  tr(class="success")
                    td
                      - var rank = index + 1
                      = rank + '. ' + val.option + ' (' + val.score + '%)'
        include viewvotes_sharebox.jade
        div.form-group
          div(class="table-responsive")
            table(class="table" id="viewvotes")
              thead
                  tr.trhideclass
                      th Voter
                      th Rankings
                  tbody
                      each vote in votes
                        tr.trhideclass
                          td
                            = vote.voter
                            br
                            em.text-muted.small
                                = moment(vote.created_on).fromNow()
                          td
                            ol
                              each val in vote.rankings
                                li= val
    include footer.jade
