div(class="alert")
    strong
        |To have others vote or see results, share the links below:
    p
        |Share the poll:
        a(href='/rank/' + rankid) &nbspdeckrank.co&#47;#{rankid}
    p
        |Share the results:
        a(href='/viewvotes/' + voteid) &nbspdeckrank.co&#47;#{voteid}
