div(class="alert")
    strong
        |To have others vote or see results, share the links below:
    p
        |Share the poll:
        a(id="votelink", href='/r/' + rankid) &nbspdeckrank.co&#47;r&#47;#{rankid}
    p
        |Share the results:
        a(id="resultslink", href='/v/' + voteid) &nbspdeckrank.co&#47;v&#47;#{voteid}
script.
    mixpanel.track_links("#votelink", "Clicked vote link");
    mixpanel.track_links("#resultslink", "Clicked results link");
