doctype html
head
  title= title
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css')
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js')
body
    div.container-fluid
        include header.jade
        h1
          = title
        div.panel-heading
            table.table
                thead
                    tr
                        th Voter
                        th Rankings
                    tbody
                        each vote in votes
                            tr
                                td
                                    = vote.voter
                                td
                                    ol
                                        each val in vote.rankings
                                            li= val
        // TODO(hnag): This looks terrible; Make it look better
        b if you'd like someone else to vote
          &nbsp;
          a(href='/rank/' + rankid) share this url
        pre
          a(href=)
          = host
          /rank/
          = rankid

        b if you'd like to share the results page
            &nbsp;
            a(href='/viewvotes/' + voteid) share this url
        pre
          a(href=)
          = host
          /viewvotes/
          = voteid


        include footer.jade
