div(class="alert")
    strong
        |To have others vote or see results, share the links below:
    p
        |Share the poll:
        a(href='/r/' + rankid) &nbspdeckrank.co&#47;r&#47;#{rankid}
    p
        |Share the results:
        a(href='/v/' + voteid) &nbspdeckrank.co&#47;v&#47;#{voteid}
