@import url("http://fonts.googleapis.com/css?family=Abel|Nunito");

#sortable { list-style-type: none; margin: auto; width: 60%; float: center; }
#sortable li { margin: 1%; padding: 0.4em; font-size: 1.4em; text-align: center }

.navbar-default {
    background-color: #ED0C27;
    color: #FFFFFF;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
}

.navbar-default .navbar-brand:hover,.navbar-default .navbar-brand:focus,.navbar-default .navbar-brand{
    color: #FFFFFF;
    font-size: 2em;
}

.navbar-brand>img {
    display: inline;
}

.navbar-default .navbar-nav>li>a {
    color: #FFFFFF;
}

body {
    color: #5F5555;
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
}

.btn {
    border-radius: 0px;
    font-size: 1.5em;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    margin-top: 1em;
    color: #FFFFFF;
    background-color: #ED0C27;
;
}

.form-control {
    border-radius: 0px;
}

footer {
    text-align: center;
    font-family: 'Abel', sans-serif;
    margin-top: 3em;
}

label {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 1.2em;
}

input[type="text"] {
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    font-size: 1em;
}

.alert {
  background-color: #c2e4e7;
  display: inline-block;
  word-break: break-all;
  line-height: 180%;
}

.alert::before {
  content: "";
}

.disableClick{
    pointer-events: none;
}
