/*
 * rozinah.css
 *
 * Copyright 2015–2015, Sunil Kowlgi, Hareesh Nagarajan
 */

@import url("http://fonts.googleapis.com/css?family=Abel|Nunito");

#sortable { padding-left: 0px; list-style-type: none; margin: auto; width: 80%; float: center; }
#sortable li {margin:1%; padding: 0.4em; font-size: 1.4em; text-align: center }

.how {
   border:2px solid #ED0C27;
   width: 200px;
   height: 300px;
   margin: 5%;
}

#resetRankOptions {
    color: blue;
}

.howheader {
    color: #ED0C27;
    font-size: 2em;
}

.howtitle {
    color: #5F5555;
}

.table>tbody>tr>td {
    vertical-align: middle;
}

.glyphicon {
    font-size: 1.5em;
    color: #ED0C27;
}

.glyphicon-remove {
    color: rgba(94, 86, 86, 0.36);
    font-size: 1em;
}

.inner-addon {
    position: relative;
}

.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
}

.left-addon .glyphicon{
    left: 0px;
}

.left-addon span {
    padding-left: 30px;
}

.navbar-default {
    background-color: #ED0C27;
    color: #FFFFFF;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
}

.navbar-default .navbar-brand:hover,.navbar-default .navbar-brand:focus,.navbar-default .navbar-brand{
    color: #FFFFFF;
    font-size: 2em;
}

.navbar-brand {
    margin-top: -5px;
}

.navbar-brand>img {
    display: inline;
    margin-top: -6px;
    margin-right:3px;
}

.navbar-default .navbar-nav>li>a {
    color: #FFFFFF;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFFFFF;
}

.navbar-default .navbar-toggle {
    border-color: #FFFFFF;
}

body, .legend {
    color: #5F5555;
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    word-wrap: break-word;
}

.btn {
    border-radius: 0px;
    font-size: 1.5em;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    margin-top: 1em;
    color: #FFFFFF;
    background-color: #ED0C27;
}

.btn-default[disabled] {
    background-color: #B5B5B5;
}

.form-control {
    border-radius: 0px;
}

footer {
    text-align: center;
    font-family: 'Abel', sans-serif;
    margin-top: 3em;
}

label {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 1.2em;
}

input[type="text"] {
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    font-size: 1em;
}

.alert {
  background-color: #c2e4e7;
  line-height: 180%;
}

.disableClick{
    pointer-events: none;
}

.table-responsive>.table>tbody>tr>td {
    white-space: normal;
}

fieldset {
    background-color: #FFFAFA;
}

.answer{
  color: #A9A9A9;
  font-weight: 400;
}

.thank-you{
    color: #ED0C27;
    font-size: 1.2em;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
}

.text-primary {
    color: #ED0C27;
}

th {
    font-weight: normal;
}

.table>tbody>tr.success>td {
    background-color: snow;
}

.dashboard{
  color: #A9A9A9;
  font-size: 36px;
}
