|It's optional to enter your email address while creating a poll. We added this
|feature because we know how frustrating it can be to create a poll and lose
|the links to vote, edit the poll and view results. We ask for your email address
|so we can send you these links. We're a
|signup free service and we'll never spam you or sell your information to anyone.
br
br
|After you create a poll, we'll send you two emails with the following contents:
|one with a link to vote on the poll, which you could forward to friends.
|And another with links to edit the poll and view results.
