|We know how frustrating it can be to create a poll and then lose the links to
|vote, edit the poll and view the results. We ask for your email address so we can
|send you these links. After you create a poll we'll send you two emails: one
|with a link to vote on the poll which you can forward to your friends; another
|with links to edit the poll and view results.
br
br
|Providing your email is optional.
|We're a signup free service and we'll never spam you or sell your information to
|anyone.
