|When you create a poll with the 'Prevent duplicate votes' option checked we'll
|disallow duplicate votes from a given IP address. This option is especially
|useful if you're sharing your poll on a public forum.
