|When you check the option
|corresponding to 'Prevent duplicate votes' and create a
|poll, deckrank will detect when voters are submitting a duplicate vote and
|let them know they can't vote a second time. This option is especially useful if
|you're sharing your poll on a forum.
