|For every submitted vote, we give each option a score based on its rank:
|all deleted options get 0, the option with the highest rank gets a score
|equal to the total number of options in the poll, the next lower rank gets
|one less than the highest score and so on. We add up the score for each option
|across votes to determine the overall ranking.
|Now, the overall ranking doesn't reveal the spread i.e. how far
|apart or close are the scores for the different options, so that's why we
|show percentages as well. The percentage value next to an option
|is the normalized score for that option. The ranking and the
|percentage together will show you what the voters' preferences are in aggregate.
