|It's optional to enter your email address while voting on a poll. While we display
|the results page soon after you've voted on a poll, if you later lose the link to the
|results page it'll leave you guessing about the developing poll results. We ask for your email
|address so we can send you a link to view the results. We're a
|signup free service and we'll never spam you or sell your information to anyone.
